
# APP
API_PORT=8000
API_IMAGE_NAME=scope-qam-api:local
SERVICE_URL=http://localhost:8000

# Postgres
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
DB_NAME=qam_db
PG_DATA_DIR=./data/pg_data_qam

# Airflow
AIRFLOW_PG_USER=airflow
AIRFLOW_PG_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow

AIRFLOW_UID=501
AIRFLOW_IMAGE_NAME=scope-qam-airflow:local
AIRFLOW_PROJ_DIR=./modules/airflow
