# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class


# Distribution / packaging
.Python
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Translations
*.mo
*.pot

# Django stuff:
*.log



# IPython
profile_default/
ipython_config.py

__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc


*~$*
*.DS_Store*
.DS_Store
/data/pg_data_qam/

*.pytest_cache

*.pyc
*.pyo
*__pycache__
*.coverage
